<h3>Agregar Producto</h3>
<form id="form">

    name: <input type="text" name="name" id="name"><br>
    price: <input type="number" name="price" id="price"><br>
    stock: <input type="number" name="stock" id="stock"><br>
    category: <input type="text" name="category" id="category"><br>
    decription: <textarea type="text" name="decription" id="decription"></textarea><br>

    <input type="submit" value="Submit">
</form>
<div>
<h3>Eliminar producto</h3>
<form id="formDelete" method="post">
    ID: <input type="text" name="id" id="id"><br>
    <input type="submit" value="Submit">
</form>
</div>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Decription</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>